.header{

    display: flex;

    justify-content: center;

}

.grid{

    display: flex;

    margin-left: 1400px;

}

.text{

display: flex;

justify-content: center;

}

.text2{

    display: flex;
    
    margin-top: 100px;
    
    }